<header class="header">
			<div class="container header__content">
				<nav class="nav">
					<a href="index.html" class="logo">
						<img
							class="logo-image"
							src="/src/img/header/logo.svg"
							alt="logo"
							width="44"
							height="39"
						/>
					</a>
					<ul class="nav__list">
						<li class="nav__item"><a href="/src/partials/section-about-us.html" class="nav__link">About us</a></li>
						<li class="nav__item">
							<a href="/src/partials/section-our-collection.html" class="nav__link">Our collection </a>
						</li>
						<li class="nav__item">
							<a href="/src/partials/section-your-order.html" class="nav__link">CUSTOMER ORDER</a>
						</li>
						<li class="nav__item">
							<a href="/src/partials/section-testimonials.html" class="nav__link">Testimonials</a>
						</li>
					</ul>
				</nav>

				<address class="address">
					<ul class="address__list">
						<li class="address__item">
							<a href="tel:+380684439426" class="address__link address__tel">
								+380 (68) 443-94-26
							</a>
						</li>
						<li class="address__item">
							<a
								href="https://www.facebook.com/goITclub/"
								class="address__link"
							>
								<svg class="icon-social" width="28" height="28">
									<use href="/src/img/header/icon.svg#icon-facebook"></use>
								</svg>
							</a>
						</li>
						<li class="address__item">
							<a
								href="https://www.instagram.com/goitclub/"
								class="address__link"
							>
								<svg class="icon-social" width="28" height="28">
									<use href="/src/img/header/icon.svg#icon-instagram"></use>
								</svg>
							</a>
						</li>
						<li class="address__item">
							<a href="https://www.youtube.com/c/GoIT" class="address__link">
								<svg class="icon-social" width="28" height="28">
									<use href="/src/img/header/icon.svg#icon-youtube"></use>
								</svg>
							</a>
						</li>
					</ul>
					<div class="solid_menu">
						<svg class="icon-solid_menu" width="36" height="24">
							<use href="/src/img/header/icon.svg#icon-burger-menu"></use>
						</svg>
					</div>
				</address>
			</div>
		</header>
