<header class="header">
  <div class="container header__content">
    <nav class="nav">
      <a href="index.html" class="logo">
        <img
          class="logo-image"
          src="/img/header/logo.svg"
          alt="logo"
          width="44"
          height="39"
        />
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#about-us" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#our-collection" class="nav__link">Our collection </a>
        </li>
        <li class="nav__item">
          <a href="#your-order" class="nav__link">CUSTOMER ORDER</a>
        </li>
        <li class="nav__item">
          <a href="#testimonials" class="nav__link">Testimonials</a>
        </li>
      </ul>
    </nav>

    <address class="address">
      <ul class="address__list">
        <li class="address__item">
          <a href="tel:+380684439426" class="address__link address__tel">
            +380 (68) 443-94-26
          </a>
        </li>
        <li class="address__item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="address__link"
            target="_blank"
          >
            <svg class="icon-social" width="28" height="28">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="address__item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="address__link"
            target="_blank"
          >
            <svg class="icon-social" width="28" height="28">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="address__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="address__link"
            target="_blank"
          >
            <svg class="icon-social" width="28" height="28">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </address>
    <button
      class="solid_menu js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="icon-solid_menu" width="36" height="24">
        <use href="/img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
