<!-- MOBILE MENU -->
<div class="mobile-menu mob-menu-ornament js-menu-container" id="mobile-menu">
  <div class="content-ornament">
  <div class="mob-menu-top-content">
    <a class="menu-tel-link" href="tel:+38068439426">+380 (68) 443-94-26</a>
    <button class="menu-close-btn js-close-menu" type="button">
      <svg class="mob-menu-close-icon" width="36" height="36">
        <use href="/img/icons.svg#icon-close-burger-menu"></use>
      </svg>
      <svg class="tab-menu-close-icon" width="44" height="44">
        <use href="/img/icons.svg#icon-close-burger-menu"></use>
      </svg>
    </button>
  </div>

  <!-- MOB MENU NAV -->
  <div class="mob-menu-content">
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#about-us">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#our-collection">Our collection </a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#your-order">Customer order</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>

  </div>


  </div>
  <div class="box-ornament"></div>
</div>
