<section class="section-order ornament-img">
        <div class="order-section-img"></div>
        <div class="container"> 
          <h2 class="section-header">
            Your order<span class="accent">
              is our priority: Personalized approach and quality of service</span>
          </h2>
          <div class="form-container">
            <form class="order-form">
              <div class="form-field-wraper">
                <label class="field-name">
                  <input class="form-field" type="text" name="user-name" placeholder="Enter your full name" />
                </label>
          
                <label class="field-name">
                  <input class="form-field" type="email" name="user-email" placeholder="Enter your email" />
                </label>
          
                <label class="field-name">
                  <textarea class="comment-field" name="user-comments" rows="9" placeholder="Comments"></textarea>
                </label>
              </div>
              <button class="order-btn" type="submit">
                Send
                <svg class="btn-icon" width="26" height="10">
                  <use href="./img/sprite.svg/symbol-defs.svg#icon-send"></use>
                </svg>
              </button>
            </form>
            <div class="order-product-img">
              <img class="product-img" srcset="/img/product_photo_tablet-min.jpg 1x, /img/product_photo_tablet@2x-min.jpg 2x"
                src="/img/product_photo_tablet-min.jpg" alt="product photo" width="704" height="521">
            </div>
          </div>
        </div>
      </section>