<section class="section-testimonials section-padding" id="testimonials">
    <div class="container">
        <h2 class="testimonials-section-title">Testimonials</h2>
        <swiper-container class="testimonials-swiper-container" pagination="true" pagination-clickable="true"
            init="false" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide class="testimonials-item">
                <div class="testimonials-image-container">
                    <img class="testimonials-image"
                        srcset="/img/section-testimonials/testimonials-photo1.png 1x, /img/section-testimonials/testimonials-photo1@2x.png 2x"
                        src="img/section-testimonials/testimonials-photo1.png" alt="User photo" width="64" height="64">
                </div>

                <h3 class="testimonials-user-name">Maria Tkachuk</h3>
                <p class="testimonials-text">I was pleasantly surprised by the variety of embroidery offered by
                    Vyshyvanka Vibes. They have models for every taste -
                    from classic to modern. I bought an embroidered dress to celebrate a special occasion and
                    received
                    impeccable service
                    and refinement in every detail.</p>
            </swiper-slide>
            <swiper-slide class="testimonials-item">
                <div class="testimonials-image-container">
                    <img class="testimonials-image"
                        srcset="/img/section-testimonials/testimonials-photo2.png 1x, /img/section-testimonials/testimonials-photo2@2x.png 2x"
                        src="img/section-testimonials/testimonials-photo2.png" alt="User photo" width="64" height="64">
                </div>

                <h3 class="testimonials-user-name">Sergey Rybachok</h3>
                <p class="testimonials-text">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
                    simply
                    masterpieces! I fell in love with the quality
                    of the materials and the skill of the artisans behind each product. This is my favorite
                    embroidery
                    shop where I always
                    find something special and unique.</p>
            </swiper-slide>
            <swiper-slide class="testimonials-item">
                <div class="testimonials-image-container">
                    <img class="testimonials-image"
                        srcset="/img/section-testimonials/testimonials-photo3.png 1x, /img/section-testimonials/testimonials-photo3@2x.png 2x"
                        src="img/section-testimonials/testimonials-photo3.png" alt="User photo" width="64" height="64">
                </div>
                <h3 class="testimonials-user-name">Natalia Chatuk</h3>
                <p class="testimonials-text">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
                    culture. Their embroidery reflects the spirit and
                    traditions of our people. I not only buy embroidered shirts for myself, but also give them to my
                    friends abroad as a
                    symbol of our beauty and national pride.</p>
            </swiper-slide>
        </swiper-container>
    </div>
</section>