<section class="section-order ornament-img">
  <div class="order-section-img"></div>
  <div class="container">
    <form class="order-form">
      <h2 class="section-header">
        <span class="accent">Your order</span>
        is our priority: Personalized approach and quality of service
      </h2>
      <div class="form-field-wraper">
        <label class="field-name">
          <input
            class="form-field"
            type="text"
            name="user-name"
            placeholder="Enter your full name"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄ']+">
        </label>
        <label class="field-name">
          <input
            class="form-field"
            type="email"
            name="user-email"
            placeholder="Enter your email">
        </label>
      
        <label class="field-name">
          <textarea
            class="comment-field"
            name="user-comments"
            rows="9"
            placeholder="Comments"
          ></textarea>
        </label>
      </div>
      <button class="order-btn" type="submit">
        Send
        <svg class="btn-icon" width="26" height="10">
          <use href="./img/sprite.svg/symbol-defs.svg#icon-send"></use>
        </svg>
      </button>
    </form>
    <div class="order-product-img">
      <picture>
        <source
          srcset="/img/your_order_img/product_photo_desctop-min.jpg    1x,
            /img/your_order_img/product_photo_desctop@2x-min.jpg 2x"
          media="(min-width: 1280px)">
        <source
          srcset="/img/your_order_img/product_photo_tablet-min.jpg    1x,
            /img/your_order_img/product_photo_tablet@2x-min.jpg 2x"
          media="(min-width: 768px)">
        <img
          class="product-img"
          src="/img/your_order_img/product_photo_desctop-min.jpg"
          alt="product photo"
          width="588"
          height="521">
      </picture>
    </div>
  </div>
</section>
