<section id="our-collection" class="collection">
  <div class="container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <div class="collection-image-list">
          <picture>
            <source
              srcset="
                /img/collection/collection-desk-1-min.jpg    1x,
                /img/collection/collection-desk-1@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/collection/collection-tab-1-min.jpg    1x,
                /img/collection/collection-tab-1@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/collection/collection-mob-1-min.jpg    1x,
                /img/collection/collection-mob-1@2x-min.jpg 2x
              "
              media="(min-width: 320px  max-width: 375px)"
            />
            <img
              src="/img/collection/collection-desk-1-min.jpg "
              alt="poltava-blousering"
              class="collection-image"
              width="380"
              heigt="430"
            />
          </picture>
        </div>
        <div class="collection-item-list">
          <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
          <p class="collection-item-title">3300 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-image-list">
          <picture>
            <source
              srcset="
                /img/collection/collection-desk-2-min.jpg    1x,
                /img/collection/collection-desk-2@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/collection/collection-tab-2-min.jpg    1x,
                /img/collection/collection-tab-2@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/collection/collection-mob-2-min.jpg    1x,
                /img/collection/collection-mob-2@2x-min.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/collection/collection-desk-2-min.jpg "
              alt="blouse-gorgany"
              class="collection-image"
              width="380"
              heigt="430"
            />
          </picture>
        </div>
        <div class="collection-item-list">
          <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
          <p class="collection-item-title">3350 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-image-list">
          <picture>
            <source
              srcset="
                /img/collection/collection-desk-3-min.jpg    1x,
                /img/collection/collection-desk-3@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/collection/collection-tab-3-min.jpg    1x,
                /img/collection/collection-tab-3@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/collection/collection-mob-3-min.jpg    1x,
                /img/collection/collection-mob-3@2x-min.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/collection/collection-desk-3-min.jpg "
              alt="poltava-crimea"
              class="collection-image"
              width="380"
              heigt="430"
            />
          </picture>
        </div>
        <div class="collection-item-list">
          <h3 class="collection-subtitle">Women's blouse Crimea</h3>
          <p class="collection-item-title">4000 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-image-list">
          <picture>
            <source
              srcset="
                /img/collection/collection-desk-4-min.jpg    1x,
                /img/collection/collection-desk-4@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/collection/collection-tab-4-min.jpg    1x,
                /img/collection/collection-tab-4@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/collection/collection-mob-4-min.jpg    1x,
                /img/collection/collection-mob-4@2x-min.jpg 2x
              "
              media="(min-width: 375px)"
              width="335"
              heigt="400"
            />
            <img
              src="/img/collection/collection-desk-4-min.jpg "
              alt="shirt-verhovina"
              class="collection-image"
            />
          </picture>
        </div>
        <div class="collection-item-list">
          <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
          <p class="collection-item-title">3100 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-image-list">
          <picture>
            <source
              srcset="
                /img/collection/collection-desk-5-min.jpg    1x,
                /img/collection/collection-desk-5@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/collection/collection-tab-5-min.jpg    1x,
                /img/collection/collection-tab-5@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/collection/collection-mob-5-min.jpg    1x,
                /img/collection/collection-mob-5@2x-min.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/collection/collection-desk-5-min.jpg "
              alt="mountain-shirt"
              class="collection-image"
              width="380"
              heigt="430"
            />
          </picture>
        </div>
        <div class="collection-item-list">
          <h3 class="collection-subtitle">Mountain men's shirt</h3>
          <p class="collection-item-title">3300 UAH</p>
        </div>
      </li>

      <li class="collection-item">
        <div class="collection-image-list">
          <picture>
            <source
              srcset="
                /img/collection/collection-desk-6-min.jpg    1x,
                /img/collection/collection-desk-6@2x-min.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/collection/collection-tab-6-min.jpg    1x,
                /img/collection/collection-tab-6@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/collection/collection-mob-6-min.jpg    1x,
                /img/collection/collection-mob-6@2x-min.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="/img/collection/collection-desk-6-min.jpg "
              alt="shirt-yasen"
              class="collection-image"
              width="380"
              heigt="430"
            />
          </picture>
        </div>
        <div class="collection-item-list">
          <h3 class="collection-subtitle">Men's shirt Yasen</h3>
          <p class="collection-item-title">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
