.collection {
  background-image: url(/img/collection/vizerunok-yello@2x-min.png);
  background-repeat: no-repeat;
  background-size: 199px 177px;
  background-position: top 338px left calc(50% - 214px);
}


.collection-title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  color: #fcf9f9;
}

.collection-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.collection-image{
  width: 100%;
}

.collection-item {
  padding-left: 0;
  margin: 0;
}

.collection-item:first-child {
  position: relative;
}

.collection-image-list {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.collection-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
  text-align: left;
  margin-bottom: 8px;
  text-wrap: nowrap;
}

.collection-item-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

.collection-item-list {
  padding: 18px 0px;
}

@media screen and (max-width: 375px){
  .collection-subtitle {
    text-wrap: wrap;
  }
  .collection-image-list {
    max-width: 335px;
  }
}

@media screen and (min-width: 768px) {

  .collection {

    background-size: 338px 300px;
    background-position: top 271px left calc(50% - 438px);
  }

  .collection-title {
    text-align: center;
    font-weight: 500;
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: #fcf9f9;
  }

  .collection-subtitle {
    font-size: 16px;
  }

  .collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
  }

  .collection-item {
    width: calc((100% - 20px) / 2);
  }
  

  .collection-item-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
  }


  .collection-image-list {
  
  }
}

@media screen and (min-width: 1280px) {
  .collection {

    background-position: top 271px left calc(50% - 639px);
  }

 

  .collection-item-list {
    padding: 32px 0;
  }

  .collection-item {
    width: calc((100% - 40px) / 3);
    box-shadow: none;
  }

  .collection-subtitle {
    margin-bottom: 8px;

    font-size: 18px;
  }

  .collection-list {

    gap: 40px 20px;
  }
  .collection-image-list {
    position: relative;
    overflow: hidden;
  }
}
